<p>
  You can reset your password within the next 15 minutes on
  <a target="_blank" href="<%= "#{ENV['BOOK_TRACKER_UI']}/reset-password?token=#{@token}" %>">    this password reset page
  </a>.
</p>
